/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.align-bottom {
    align-self: end;
}

.padding {
    padding: 60px;
}

.table-header {
    background: #00A1DE !important;
}

tr:nth-child(even) {
    background-color:rgba(0, 161, 222, 0.1);
  }

  .truncate-content {
    display: block; /* Ensure it's a block element */
    width: 100%; /* Ensure it takes up full width of the cell */
  }

.pointer {
    cursor: pointer;
}